
<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let book of books | async">
    <a [routerLink]="['/books', book.name]">
      <div class="row border" style="height: 200px; margin-top: 20px;">
          <div style="height: 100%;" class="col-5">
            <img style="height: 100%;" src="https://img.buzzfeed.com/buzzfeed-static/static/2015-05/6/9/enhanced/webdr07/original-29935-1430919783-25.jpg?crop=933:1399;0,11&downsize=400:*&output-format=auto&output-quality=auto" alt="">
          </div>
          <div style="position: relative; width: 100%; height: 100%;" class="col-7">
            <div style="position: absolute; top: 50%; transform: translateY(-50%);">
              <h5 style="color: black;">{{book.name}}</h5>
              <p>{{book.isbn}}</p>
            </div>
          </div>
        </div>      
    </a>  
  </div>  
</div>